.btn-blue {
  /*color: #fff;*/
  /*background-color: #4875b4;*/
  /*border-color: #4875b4;*/

  /*color: #2b587a;*/

  color: rgba(43, 88, 122, 0.7);
  background-color: #ffffff;
  border-color: rgba(43, 88, 122, 0.7);
}
.btn-blue:not(:disabled):not(.disabled).active, .btn-blue:not(:disabled):not(.disabled):active, .show>.btn-blue.dropdown-toggle {
  color: #fff;
  background-color: rgba(43, 88, 122, 0.7);
  border-color: rgba(43, 88, 122, 0.7);
}
.btn-blue:hover {
  color: #fff;
  background-color: #6a89a1;
  border-color: #6a89a1;
  -webkit-box-shadow: 0 5px 6px 0 rgba(72, 117, 180, 0.8);
  box-shadow: 0 5px 6px 0 rgba(72, 117, 180, 0.8);
}
.btn-blue.focus, .btn-blue:focus {
  -webkit-box-shadow: 0 5px 6px 0 rgba(72, 117, 180, 0.8);
  box-shadow: 0 5px 6px 0 rgba(72, 117, 180, 0.8);
}
.btn-green{
  color: #fff;
  background-color: #4fa153;
  border-color: #4fa153;
}
.btn-green:not(:disabled):not(.disabled).active, .btn-green:not(:disabled):not(.disabled):active, .show>.btn-green.dropdown-toggle {
  color: #fff;
  background-color: #4fa153;
  border-color: #4fa153;
}
.btn-green:hover {
  color: #fff;
  background-color: #418e45;
  border-color: #418e45;
  -webkit-box-shadow: 0 5px 6px 0 rgba(102, 187, 106, 0.8);
  box-shadow: 0 5px 6px 0 rgba(102, 187, 106, 0.8);
}
.btn-green.focus, .btn-green:focus {
  -webkit-box-shadow: 0 5px 6px 0 rgba(102, 187, 106, 0.8);
  box-shadow: 0 5px 6px 0 rgba(102, 187, 106, 0.8);
}
.btn{
  border-radius: unset;
  padding: 3px 10px;
}