/*@font-face {*/
    /*font-family: 'Montserrat-black';*/
    /*src: url('./../fonts/Montserrat/black/Montserrat-Black.eot');*/
    /*src: url('./../fonts/Montserrat/black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Montserrat/black/Montserrat-Black.woff2') format('woff2'),*/
    /*url('./../fonts/Montserrat/black/Montserrat-Black.woff') format('woff'),*/
    /*url('./../fonts/Montserrat/black/Montserrat-Black.ttf') format('truetype'),*/
    /*url('./../fonts/Montserrat/black/Montserrat-Black.svg#Montserrat-black') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'Montserrat-bold';*/
    /*src: url('./../fonts/Montserrat/bold/Montserrat-Bold.eot');*/
    /*src: url('./../fonts/Montserrat/bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Montserrat/bold/Montserrat-Bold.woff2') format('woff2'),*/
    /*url('./../fonts/Montserrat/bold/Montserrat-Bold.woff') format('woff'),*/
    /*url('./../fonts/Montserrat/bold/Montserrat-Bold.ttf') format('truetype'),*/
    /*url('./../fonts/Montserrat/bold/Montserrat-Bold.svg#Montserrat-bold') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'Montserrat-light';*/
    /*src: url('./../fonts/Montserrat/light/Montserrat-Light.eot');*/
    /*src: url('./../fonts/Montserrat/light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Montserrat/light/Montserrat-Light.woff2') format('woff2'),*/
    /*url('./../fonts/Montserrat/light/Montserrat-Light.woff') format('woff'),*/
    /*url('./../fonts/Montserrat/light/Montserrat-Light.ttf') format('truetype'),*/
    /*url('./../fonts/Montserrat/light/Montserrat-Light.svg#Montserrat-light') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'Montserrat-medium';*/
    /*src: url('./../fonts/Montserrat/medium/Montserrat-Medium.eot');*/
    /*src: url('./../fonts/Montserrat/medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Montserrat/medium/Montserrat-Medium.woff2') format('woff2'),*/
    /*url('./../fonts/Montserrat/medium/Montserrat-Medium.woff') format('woff'),*/
    /*url('./../fonts/Montserrat/medium/Montserrat-Medium.ttf') format('truetype'),*/
    /*url('./../fonts/Montserrat/medium/Montserrat-Medium.svg#Montserrat-medium') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'Montserrat-regular';*/
    /*src: url('./../fonts/Montserrat/regular/Montserrat-Regular.eot');*/
    /*src: url('./../fonts/Montserrat/regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Montserrat/regular/Montserrat-Regular.woff2') format('woff2'),*/
    /*url('./../fonts/Montserrat/regular/Montserrat-Regular.woff') format('woff'),*/
    /*url('./../fonts/Montserrat/regular/Montserrat-Regular.ttf') format('truetype'),*/
    /*url('./../fonts/Montserrat/regular/Montserrat-Regular.svg#Montserrat-regular') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'MyriadPro-light';*/
    /*src: url('./../fonts/MyriadPro/light/MyriadPro-Light.eot');*/
    /*src: url('./../fonts/MyriadPro/light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/MyriadPro/light/MyriadPro-Light.woff2') format('woff2'),*/
    /*url('./../fonts/MyriadPro/light/MyriadPro-Light.woff') format('woff'),*/
    /*url('./../fonts/MyriadPro/light/MyriadPro-Light.ttf') format('truetype'),*/
    /*url('./../fonts/MyriadPro/light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'MyriadPro-semiExt';*/
    /*src: url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.eot');*/
    /*src: url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.woff2') format('woff2'),*/
    /*url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.woff') format('woff'),*/
    /*url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.ttf') format('truetype'),*/
    /*url('./../fonts/MyriadPro/semiExt/MyriadPro-SemiExt.svg#MyriadPro-SemiExt') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'MontserratAlternates-black';*/
    /*src: url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.eot');*/
    /*src: url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.woff2') format('woff2'),*/
    /*url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.woff') format('woff'),*/
    /*url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.ttf') format('truetype'),*/
    /*url('./../fonts/MontserratAlternates/black/MontserratAlternates-Black.svg#MontserratAlternates-black') format('svg');*/
/*}*/
/*@font-face {*/
    /*font-family: 'Roboto-black';*/
    /*src: url('./../fonts/Roboto/black/Roboto-Black.eot');*/
    /*src: url('./../fonts/Roboto/black/Roboto-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('./../fonts/Roboto/black/Roboto-Black.woff2') format('woff2'),*/
    /*url('./../fonts/Roboto/black/Roboto-Black.woff') format('woff'),*/
    /*url('./../fonts/Roboto/black/Roboto-Black.ttf') format('truetype'),*/
    /*url('./../fonts/Roboto/black/Roboto-Black.svg#Roboto-black') format('svg');*/
/*}*/
/*.montserrat-bold {font-family: Montserrat-bold;}*/
/*.montserrat-light {font-family: Montserrat-light;}*/
/*.montserrat-medium {font-family: Montserrat-medium;}*/
/*.montserrat-regular {font-family: Montserrat-regular;}*/
/*.myriadPro-light {font-family: MyriadPro-light;}*/
/*.myriadPro-semiExt {font-family: MyriadPro-semiExt;}*/