<!--eslint-disable-->
<template>
  <div class="dashboard">
    <Navbar></Navbar>
    <div :class="{'container-fluid py-3': mobile}">
      <div :class="{'row': mobile, 'd-flex': !mobile}">
        <div v-if="city" :class="{'col-12 mt-3': mobile}" id="city">
          <div class="btn disabled" :class="{'d-flex': !companyWidth, 'py-3': !mobile, 'py-1 d-block': mobile}" :style="{minWidth: companyWidth}">
            <span class="float-left">{{cities[city][0]['name']}}</span>
            <span class="float-right pl-3">{{cities[city][0]['guard']}}</span>
            <span class="p-1 rounded-circle"></span>
          </div>
        </div>
        <div v-if="mobile" class="col-12 col-sm-4 col-md-4 py-2">
          <div class="form-group">
            <select v-model="currentDistrict" :disabled="city ? false : true" @change="districtChange(currentDistrict)" class="form-control">
              <option v-for="district in districts[city]" :value="district.value">{{district.name}} - {{district.guard}}</option>
            </select>
          </div>
        </div>
        <div v-if="mobile" class="col-12 col-sm-4 col-md-4 py-2">
          <div class="form-group">
            <select v-model="currentCompany" :disabled="currentDistrict ? false : true" @change="companyChange(currentCompany)" class="form-control">
              <option v-for="company in companies[currentDistrict]" @click="facilityName = company.name" :value="company.value">{{company.name}} - {{company.guard}}</option>
            </select>
          </div>
        </div>
        <div v-if="mobile" class="col-12 col-sm-4 col-md-4 py-2">
          <div class="form-group">
            <select v-model="currentLocation" :disabled="currentCompany ? false : true" @input="locationChange(currentLocation, $event)" class="form-control">
              <option v-for="location in locations[currentCompany]" :data-name="location.name" :value="location.value">{{location.name}} - {{location.guard}}</option>
            </select>
          </div>
        </div>
        <div v-if="!mobile" id="district">
          <div v-for="district, index in districts[city]" v-if="index<8" class="district d-flex flex-wrap float-left">
            <div @click="districtChange(district.value)" :class="{'active': currentDistrict==district.value}" class="districtBtn btn btn-blue">
              <span class="float-left pr-2">{{district.name}}</span>
              <span class="float-right px-2 border border-white rounded">{{district.guard}}</span>
              <span v-if="index==4" class="p-1 rounded-circle"></span>
            </div>
          </div>
          <div></div>
          <div v-for="district, index in districts[city]" v-if="index>7" class="district d-flex flex-wrap float-left">
            <div @click="districtChange(district.value)" :class="{'active': currentDistrict==district.value}" class="districtBtn btn btn-blue">
              <span class="float-left pr-2">{{district.name}}</span>
              <span class="float-right px-2 border border-white rounded">{{district.guard}}</span>
              <span v-if="index==4" class="p-1 rounded-circle"></span>
            </div>
          </div>
        </div>
      </div>
      <div :class="{row: !mobile}">
        <div v-if="currentDistrict && !mobile" ref="districts" id="company">
          <div v-for="company, index in companies[currentDistrict]" class="company">
            <div @click="companyChange(company.value)" :class="{'active': currentCompany==company.value}" class="companyBtn btn btn-blue">
              <span class="float-left pr-4">{{company.name}}</span>
              <span class="float-right px-2 border border-white rounded">{{company.guard}}</span>
              <span v-if="index==0" class="p-1 dot rounded-circle"></span>
            </div>
          </div>
        </div>
        <div v-if="currentCompany && !mobile" ref="companies" id="location">
          <div v-for="location, index in locations[currentCompany]" class="location">
            <span @click="locationChange(location.value, location.name)" :class="{'active': currentLocation==location.value}" class="locationBtn btn btn-blue">
              <span class="float-left pr-2">{{location.name}}</span>
              <span class="float-right px-2 border border-white rounded">{{location.guard}}</span>
              <span v-if="index==1" class="p-1 dot rounded-circle"></span>
            </span>
          </div>
        </div>
        <section v-if="currentLocation" :style="{width: 'calc(100vw - '+cityWidth+')'}" class="mainSection row">
          <div id="mainData" class="col-xs-12 col-md-6 px-0" :class="{'pr-2': mobile}">
            <div ref="location" :class="{'pb-3': mobile}" class="card">
              <div class="card-header text-center border-bottom-0">
                <span class="m-auto h5"><strong>{{facilityName}}</strong></span>
              </div>
              <div class="card-body card-block pb-0">
                <div class="row form-group">
                  <div class="col-4 col-sm-6 col-md-4"><label class=" form-control-label mb-0"><font-awesome-icon icon="map" class="mr-1"/><strong> 地址</strong></label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].address}}</p>
                  </div>
                  <div class="col-12 pt-3"><label class=" form-control-label"><strong>保安公司信息</strong></label></div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="building" class="mr-1"/> 公司名称</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].sCompany.name}}</p>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="user" class="mr-1"/> 负责人</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].sCompany.contactName}}</p>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="phone" class="mr-1"/> 电话</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].sCompany.contactPhone}}</p>
                  </div>
                  <div class="col-12 pt-3"><label class=" form-control-label"><strong>物业公司</strong></label></div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="building" class="mr-1"/> 公司名称</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].pmCompany.name}}</p>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="user" class="mr-1"/> 负责人</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].pmCompany.contactName}}</p>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 pr-0"><label class=" form-control-label mb-0"><font-awesome-icon icon="phone" class="mr-1"/> 电话</label></div>
                  <div class="col-8 col-sm-6 col-md-8">
                    <p class="form-control-static">{{facilities[currentLocation].pmCompany.contactPhone}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="guardData col-xs-12 col-md-6 px-0 d-block d-md-none" :class="{'pb-3': mobile}" >
              <div class="card">
                <div ref="guardCheckin" class="card-header border-bottom-0 px-0">
                  <div class="col-10 m-auto position-relative">
                    <span class="float-left"><strong class="h5">实到当班保安数</strong></span>
                    <span class="float-right px-2">{{facilities[currentLocation]['guards'].length}}</span>
                    <span :class="{'bg-success':facilities[currentLocation]['guards'].length >= facilities[currentLocation]['guardStatistics']['enrolled'], 'bg-danger': facilities[currentLocation]['guards'].length < facilities[currentLocation]['guardStatistics']['enrolled']}" class="p-1 dot rounded-circle"></span>
                  </div>
                  <div class="col-10 m-auto">
                    <span class="float-left"><strong class="h5">应到当班保安数</strong></span>
                    <span class="float-right px-2">{{facilities[currentLocation]['guardStatistics']['enrolled']}}</span>
                  </div>
                </div>
                <div :style="{maxHeight: guardsHeight}" class="guard-list card-body card-block" >
                  <template v-for="guard, index in facilities[currentLocation]['guards']">
                    <div @click="showGuardInformationModal(index)" class="row form-group border-bottom showModal">
                      <div class="col-3 col-sm-2 col-md-2 pr-0">
                        <img :src="require(`@/assets/images/${guard.avatarImage}`)" class="rounded-circle guard-img" alt="Guard Img">
                      </div>
                      <div class="col-5 col-sm-5 col-md-6 pr-0">
                        <label class="form-control-label h5"><strong>{{guard.name}}</strong></label>
                        <p class="form-control-static d-none d-sm-block">ID - {{guard.certificate}}</p>
                        <p class="form-control-static d-block d-sm-none" style="font-size: 11px">{{guard.certificate}}</p>
                      </div>
                      <div class="col-4 col-sm-5 col-md-4 pr-0">
                        <label class="form-control-label d-none d-sm-inline-block">Duty started at</label>
                        <label class="form-control-label d-inline-block d-sm-none">Duty started</label>
                        <p class="form-control-static">{{guard.time}}</p>
                      </div>
                    </div>
                  </template>
                </div>
                <div ref="incidents" class="incidents card-footer card-block border-top-0 text-center">
                  <span class="mb-2"> <strong  class="h4">最后发现问题</strong></span>
                  <div v-for="incident in facilities[currentLocation]['incidents']" class="incidient border-bottom border-top">
                    <span class="float-left">{{incident.id}}</span>
                    <span class="pl-2">{{incident.name}}</span>
                    <span class="float-right pl-1">{{incident.time}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mapSec" :class="{'py-3': mobile}">
              <doc-preview>
                <baidu-map class="map" :center="{lng: facilities[currentLocation]['location']['lng'], lat: facilities[currentLocation]['location']['lat']}" :zoom="15" @ready="handler">
                  <bm-view style="position: absolute; top: 0; bottom: 0; left: 0; right: 0">
                    <bm-marker :position="{lng: facilities[currentLocation]['location']['lng'], lat: facilities[currentLocation]['location']['lat']}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE">
                      <bm-label content="Tiananmen" :position="{lng: facilities[currentLocation]['location']['lng'], lat: facilities[currentLocation]['location']['lat']}" :labelStyle="{color: 'red', fontSize : '30px'}" :offset="{width: -35, height: 30}"/>
                    </bm-marker>
                  </bm-view>
                </baidu-map>
              </doc-preview>
            </div>
          </div>
          <div class="guardData col-xs-12 col-md-6 px-0 d-none d-md-block"  :class="{'pl-2': mobile}">
            <div class="card">
              <div ref="guardCheckin" class="card-header border-bottom-0 px-0">
                <div class="col-10 m-auto position-relative">
                  <span class="float-left h5"><strong>实到当班保安数</strong></span>
                  <span class="float-right px-2">{{facilities[currentLocation]['guards'].length}}</span>
                  <span :class="{'bg-success':facilities[currentLocation]['guards'].length >= facilities[currentLocation]['guardStatistics']['enrolled'], 'bg-danger': facilities[currentLocation]['guards'].length < facilities[currentLocation]['guardStatistics']['enrolled']}" class="p-1 dot rounded-circle"></span>
                </div>
                <div class="col-10 m-auto">
                  <span class="float-left h5"><strong>应到当班保安数</strong></span>
                  <span class="float-right px-2">{{facilities[currentLocation]['guardStatistics']['enrolled']}}</span>
                </div>
              </div>
              <div :style="{maxHeight: guardsHeight}" class="guard-list card-body card-block" >
                <template v-for="guard, index in facilities[currentLocation]['guards']">
                  <div @click="showGuardInformationModal(index)" class="row form-group border-bottom showModal">
                    <div class="col-3 col-sm-2 col-md-2 pr-0">
                      <img :src="require(`@/assets/images/${guard.avatarImage}`)" class="rounded-circle guard-img" alt="Guard Img">
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 pr-0">
                      <label class="form-control-label h5"><strong>{{guard.name}}</strong></label>
                      <p class="form-control-static d-none d-sm-block">ID - {{guard.certificate}}</p>
                      <p class="form-control-static d-block d-sm-none" style="font-size: 11px">{{guard.certificate}}</p>
                    </div>
                    <div class="col-4 col-sm-5 col-md-4 pr-0">
                      <label class="form-control-label d-none d-sm-inline-block">Duty started at</label>
                      <label class="form-control-label d-inline-block d-sm-none">Duty started</label>
                      <p class="form-control-static">{{guard.time}}</p>
                    </div>
                  </div>
                </template>
              </div>
              <div ref="incidents" class="incidents card-footer card-block border-top-0 text-center">
                <span class="mb-2"> <strong  class="h4">最后发现问题</strong></span>
                <div v-for="incident in facilities[currentLocation]['incidents']" class="incidient border-bottom border-top">
                  <span class="float-left">{{incident.id}}</span>
                  <span class="pl-2">{{incident.name}}</span>
                  <span class="float-right pl-1">{{incident.time}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modalDiv col col-sm-12 col-md-12">
          <b-modal ref="guardInformationModal" id="modallg" size="lg" title="Guard Information" ok-only ok-variant="danger" ok-title="Cancel">
            <b-container v-if="currentLocation && guard!==''" class="bv-example-row">
              <b-row>
                <b-col cols="12" lg="6">
                  <h2 class="text-center mb-4">{{facilities[currentLocation]['guards'][guard]['name']}}</h2>
                  <div class="row">
                    <div class="col-6"><label class=" form-control-label"><strong> Certificate</strong></label></div>
                    <div class="col-6">
                      <p class="form-control-static">{{facilities[currentLocation]['guards'][guard]['certificate']}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6"><label class=" form-control-label"><strong> Id</strong></label></div>
                    <div class="col-6">
                      <p class="form-control-static">{{facilities[currentLocation]['guards'][guard]['id']}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6"><label class=" form-control-label"><strong> Address</strong></label></div>
                    <div class="col-6">
                      <p class="form-control-static">{{facilities[currentLocation]['guards'][guard]['address']}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6"><label class=" form-control-label"><strong> Phone</strong></label></div>
                    <div class="col-6">
                      <p class="form-control-static">{{facilities[currentLocation]['guards'][guard]['phone']}}</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="12" lg="6">
                  <div>
                    <b-img :src="require(`@/assets/images/${facilities[currentLocation]['guards'][guard]['idImage']}`)" fluid alt="Responsive image" />
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Navbar from './NavBar.vue'
import BaiduMap from 'vue-baidu-map/components/map/Map.vue'
//import BmMarker from 'vue-baidu-map/components/overlays/Marker.vue'

export default {
  components: {
    Navbar,
    BaiduMap,
//    BmMarker
  },
  data() {
  	return {
      center: {lng: 0, lat: 0},
      zoom: 3,
      city: '',
      cities: {
      	Shanghai: [{ name: '上海市', guard: 320}],
//				Chongqing: [{ name: '重庆市', value: 'Chongqing', guard: 1000 }],
//				City86: [{ name: 'Example', value: 'City86', guard: 2391 }]
			},
      cityWidth: '',
      companyWidth: '',
      currentDistrict: '',
      districts: {
        Shanghai: [
          { name: '黄浦区', value: 'Huangpu', guard: 20 },
          { name: '静安区', value: 'Jingan', guard: 32 },
          { name: '青浦区', value: 'Qingpu', guard: 22 },
          { name: '闵行区', value: 'Minhang', guard: 10 },
          { name: '长宁区', value: 'Changning', guard: 36 },
          { name: '金山区', value: 'Jinshan', guard: 45 },
          { name: '虹口区', value: 'Hongkou', guard: 30 },
          { name: '杨浦区', value: 'Pudong', guard: 15 },
          { name: '杨浦区', value: 'Songjiang', guard: 14 },
          { name: '杨浦区', value: 'Yangpu', guard: 9 },
          { name: '杨浦区', value: 'Putuo', guard: 29 },
          { name: '闵行区', value: 'Xuhui', guard: 34 },
          { name: '杨浦区', value: 'Chongming', guard: 26 },
          { name: '杨浦区', value: 'Baoshan', guard: 14 },
          { name: '杨浦区', value: 'Fengxian', guard: 31 },
          { name: '杨浦区', value: 'Jiading', guard: 15 },
        ],
//				Chongqing: [
//          { name: 'Click me 黔江区', value: 'District1', guard: 20 },
//          { name: '长寿区', value: 'District2', guard: 20 },
//          { name: '铜梁区', value: 'District3', guard: 20 },
//          { name: '重庆市', value: 'District4', guard: 20 },
//          { name: '酉阳土家族苗族自治县', value: 'District5', guard: 20 },
//          { name: '荣昌区', value: 'District6', guard: 20 },
//          { name: '綦江区', value: 'District7', guard: 20 },
//          { name: '秀山土家族苗族自治县', value: 'District8', guard: 20 },
//          { name: '石柱土家族自治县', value: 'District9', guard: 20 },
//          { name: '璧山区', value: 'District10', guard: 20 },
//          { name: '潼南区', value: 'District11', guard: 20 },
//          { name: '渝北区', value: 'District12', guard: 20 },
//          { name: '渝中区', value: 'District13', guard: 20 },
//          { name: '涪陵区', value: 'District14', guard: 20 },
//          { name: '沙坪坝区', value: 'District15', guard: 20 },
//          { name: '江津区', value: 'District16', guard: 20 },
//          { name: '江北区', value: 'District17', guard: 20 },
//          { name: '永川区', value: 'District18', guard: 20 },
//          { name: '武隆区', value: 'District19', guard: 20 },
//          { name: '梁平区', value: 'District20', guard: 20 },
//          { name: '忠县', value: 'District21', guard: 20 },
//          { name: '彭水苗族土家族自治县', value: 'District22', guard: 20 },
//          { name: '开州区', value: 'District23', guard: 20 },
//          { name: '巴南区', value: 'District24', guard: 20 },
//          { name: '巫溪县', value: 'District25', guard: 20 },
//          { name: '巫山县', value: 'District26', guard: 20 },
//          { name: '奉节县', value: 'District27', guard: 20 },
//          { name: '大足区', value: 'District28', guard: 20 },
//          { name: '大渡口区', value: 'District29', guard: 20 },
//          { name: '城口县', value: 'District30', guard: 20 },
//          { name: '垫江县', value: 'District31', guard: 20 },
//          { name: '合川区', value: 'District32', guard: 20 },
//          { name: '南川区', value: 'District33', guard: 20 },
//          { name: '南岸区', value: 'District34', guard: 20 },
//          { name: '北碚区', value: 'District35', guard: 20 },
//          { name: '云阳县', value: 'District36', guard: 20 },
//          { name: '九龙坡区', value: 'District37', guard: 20 },
//          { name: '丰都县', value: 'District38', guard: 20 },
//          { name: '万州区', value: 'District39', guard: 20 },
//        ],
//        City86: [
//          { name: 'Click me', value: 'District0', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//          { name: '虹口区-2', value: 'District7', guard: 1000 },
//          { name: '杨浦区-2', value: 'District8', guard: 601 },
//          { name: '闵行区-2', value: 'District9', guard: 790 },
//        ]
      },
      currentCompany: '',
      companies: {
				Chongqing: [
          { name: 'Company B2', value: 'CompanyB2', guard: 3 },
          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
          { name: 'Secuall 5', value: 'Secuall5', guard: 8 },
          { name: 'comp 4', value: 'comp4', guard: 4 },
          { name: 'Secuall 6', value: 'Secuall6', guard: 8 },
          { name: 'Company B4', value: 'CompanyB4', guard: 3 },
          { name: 'Company A5', value: 'CompanyA5', guard: 5 },
          { name: 'comp 5', value: 'comp5', guard: 4 },
          { name: 'Secuall 7', value: 'Secuall7', guard: 8 },
          { name: 'Company B6', value: 'CompanyB6', guard: 3 },
          { name: 'Company A7', value: 'CompanyA7', guard: 5 },
          { name: 'comp 6', value: 'comp6', guard: 4 },
          { name: 'Secuall 8', value: 'Secuall8', guard: 8 },
          { name: 'Company B8', value: 'CompanyB8', guard: 3 },
          { name: 'Company A9', value: 'CompanyA9', guard: 5 },
          { name: 'comp 7', value: 'comp7', guard: 4 },
        ],
				Huangpu: [
          { name: 'Company B2', value: 'CompanyB2', guard: 3 },
          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
          { name: 'Secuall 5', value: 'Secuall5', guard: 8 },
          { name: 'comp 4', value: 'comp4', guard: 4 },
          { name: 'Secuall 6', value: 'Secuall6', guard: 8 },
          { name: 'Company B4', value: 'CompanyB4', guard: 3 },
          { name: 'Company A5', value: 'CompanyA5', guard: 5 },
          { name: 'comp 5', value: 'comp5', guard: 4 },
          { name: 'Secuall 7', value: 'Secuall7', guard: 8 },
          { name: 'Company B6', value: 'CompanyB6', guard: 3 },
          { name: 'Company A7', value: 'CompanyA7', guard: 5 },
          { name: 'comp 6', value: 'comp6', guard: 4 },
          { name: 'Secuall 8', value: 'Secuall8', guard: 8 },
          { name: 'Company B8', value: 'CompanyB8', guard: 3 },
          { name: 'Company A9', value: 'CompanyA9', guard: 5 },
          { name: 'comp 7', value: 'comp7', guard: 4 },
        ],
				Jingan: [
          { name: 'Company B10', value: 'CompanyB10', guard: 3 },
          { name: 'Company A11', value: 'CompanyA11', guard: 5 },
          { name: 'Secuall 5', value: 'Secuall5', guard: 8 },
          { name: 'comp 8', value: 'comp8', guard: 4 },
          { name: 'Secuall 12', value: 'Secuall12', guard: 8 },
          { name: 'Company B12', value: 'CompanyB12', guard: 3 },
          { name: 'Company A13', value: 'CompanyA13', guard: 5 },
          { name: 'comp 9', value: 'comp9', guard: 4 },
          { name: 'Secuall 13', value: 'Secuall13', guard: 8 },
          { name: 'Company B14', value: 'CompanyB14', guard: 3 },
          { name: 'Company A15', value: 'CompanyA15', guard: 5 },
          { name: 'comp 10', value: 'comp10', guard: 4 },
          { name: 'Secuall 14', value: 'Secuall14', guard: 8 },
          { name: 'Company B16', value: 'CompanyB16', guard: 3 },
          { name: 'Company A17', value: 'CompanyA17', guard: 5 },
          { name: 'comp1 1', value: 'comp11', guard: 4 },
        ],
				Qingpu: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Minhang: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Changning: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Jinshan: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Hongkou: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Pudong: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Songjiang: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Yangpu: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
				Putuo: [
          { name: 'CompanyB2', value: 'Huangpu', guard: 3 },
          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
          { name: 'comp4', value: 'Minhang', guard: 4 },
          { name: 'Secuall6', value: 'Changning', guard: 8 },
          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
          { name: 'comp5', value: 'Pudong', guard: 4 },
          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
          { name: 'comp6', value: 'Xuhui', guard: 4 },
          { name: 'Secuall8', value: 'Chongming', guard: 8 },
          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
          { name: 'comp7', value: 'Jiading', guard: 4 },
       ],
//        District1: [
//          { name: 'Click me', value: 'Huangpu0', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'comp7', value: 'Jiading', guard: 4 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'comp7', value: 'Jiading', guard: 4 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'comp7', value: 'Jiading', guard: 4 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'comp7', value: 'Jiading', guard: 4 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'Click me', value: 'Huangpu1', guard: 3 },
//          { name: 'CompanyA3', value: 'Jingan', guard: 5 },
//          { name: 'Secuall5', value: 'Qingpu', guard: 8 },
//          { name: 'comp4', value: 'Minhang', guard: 4 },
//          { name: 'Secuall6', value: 'Changning', guard: 8 },
//          { name: 'CompanyB4', value: 'Jinshan', guard: 3 },
//          { name: 'CompanyA5', value: 'Hongkou', guard: 5 },
//          { name: 'comp5', value: 'Pudong', guard: 4 },
//          { name: 'Secuall7', value: 'Songjiang', guard: 8 },
//          { name: 'CompanyB6', value: 'Yangpu', guard: 3 },
//          { name: 'CompanyA7', value: 'Putuo', guard: 5 },
//          { name: 'comp6', value: 'Xuhui', guard: 4 },
//          { name: 'Secuall8', value: 'Chongming', guard: 8 },
//          { name: 'CompanyB8', value: 'Baoshan', guard: 3 },
//          { name: 'CompanyA9', value: 'Fengxian', guard: 5 },
//          { name: 'comp7', value: 'Jiading', guard: 4 },
//       ],
//        District0: [
//          { name: 'Click me', value: 'Secuall0', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//        ],
//        District2: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//        ],
//        District3: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 4 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 6 },
//          { name: '闵行区 3', value: 'comp5', guard: 4 },
//        ],
//        District4: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 5 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 5 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 5 },
//        ],
//        District5: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 7 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 7 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 3 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//        ],
//        District6: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 6 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 6 },
//          { name: '闵行区 3', value: 'comp5', guard: 2 },
//        ],
//        District7: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 7 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 3 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 7 },
//          { name: '闵行区 3', value: 'comp5', guard: 3 },
//        ],
//        District8: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 3 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 4 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 8 },
//          { name: '闵行区 3', value: 'comp5', guard: 5 },
//        ],
//        District9: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 4 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 6 },
//          { name: '闵行区 3', value: 'comp5', guard: 4 },
//        ],
//        District10: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 10 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 3 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 2 },
//        ],
//        District11: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 8 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 3 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 5 },
//          { name: '闵行区 3', value: 'comp5', guard: 4 },
//        ],
//        District12: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 3 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 8 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 4 },
//          { name: '闵行区 3', value: 'comp5', guard: 5 },
//        ],
//        District13: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 1 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 8 },
//          { name: '闵行区 3', value: 'comp5', guard: 5 },
//        ],
//        District14: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 2 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 8 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 2 },
//          { name: '闵行区 3', value: 'comp5', guard: 8 },
//        ],
//        District15: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 8 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 4 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 4 },
//          { name: '闵行区 3', value: 'comp5', guard: 4 },
//        ],
//        District16: [
//          { name: 'Secuall3', value: 'Secuall5', guard: 5 },
//          { name: 'Company B3', value: 'CompanyB3', guard: 6 },
//          { name: 'Company A3', value: 'CompanyA3', guard: 2 },
//          { name: '闵行区 3', value: 'comp5', guard: 7 },
//        ]
      },
      currentLocation: '',
      locations: {
				CompanyB2: [
          { name: '上海瑞丰国际大', value: 'Location1', guard: 2 },
          { name: '嘉昱大厦', value: 'Location2', guard: 3 },
          { name: '国际港务大厦 楼高', value: 'Location3', guard: 2 },
        ],
				CompanyA3: [
          { name: 'Location 5', value: 'loc5', guard: 2 },
          { name: 'Location 6', value: 'loc6', guard: 2 },
          { name: 'Location 7', value: 'loc7', guard: 2 },
          { name: 'Location 8', value: 'loc8', guard: 2 },
        ],
				Secuall5: [
          { name: 'Location 10', value: 'loc10', guard: 2 },
          { name: 'Location 11', value: 'loc11', guard: 1 },
          { name: 'Location 12', value: 'loc12', guard: 4 },
          { name: 'Location 13', value: 'loc13', guard: 1 },
        ],
				comp4: [
          { name: 'Location 14', value: 'loc14', guard: 1 },
          { name: 'Location 15', value: 'loc15', guard: 2 },
          { name: 'Location 16', value: 'loc16', guard: 3 },
          { name: 'Location 17', value: 'loc17', guard: 2 },
        ],
				Huangpu0: [
					{ name: '上海瑞丰国际大', value: 'Location1', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location2', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location3', guard: 2 },
					{ name: 'Location 4', value: 'loc4', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
					{ name: '上海瑞丰国际大', value: 'Location10', guard: 2 },
					{ name: '嘉昱大厦', value: 'Location20', guard: 3 },
					{ name: '国际港务大厦 楼高', value: 'Location30', guard: 2 },
					{ name: 'Location 4', value: 'loc40', guard: 1 },
				],
				Secuall0: [
          { name: 'Location 14', value: 'Location1', guard: 1 },
          { name: 'Location 15', value: 'Location2', guard: 2 },
          { name: 'Location 16', value: 'Location3', guard: 3 },
          { name: 'Location 17', value: 'loc14', guard: 2 },
          { name: 'Location 14', value: 'Location1', guard: 1 },
          { name: 'Location 15', value: 'Location2', guard: 2 },
          { name: 'Location 16', value: 'Location3', guard: 3 },
          { name: 'Location 17', value: 'loc14', guard: 2 },
          { name: 'Location 14', value: 'Location1', guard: 1 },
          { name: 'Location 15', value: 'Location2', guard: 2 },
          { name: 'Location 16', value: 'Location3', guard: 3 },
          { name: 'Location 17', value: 'loc14', guard: 2 },
          { name: 'Location 14', value: 'Location1', guard: 1 },
          { name: 'Location 15', value: 'Location2', guard: 2 },
          { name: 'Location 16', value: 'Location3', guard: 3 },
          { name: 'Location 17', value: 'loc14', guard: 2 },
          { name: 'Location 14', value: 'Location1', guard: 1 },
          { name: 'Location 15', value: 'Location2', guard: 2 },
          { name: 'Location 16', value: 'Location3', guard: 3 },
          { name: 'Location 17', value: 'loc14', guard: 2 },
        ]
      },
      facilityName: '',
      facilities: {
				Location1: {
          address: '上海市虹口区杨树浦路248号',
          location: {
						lat: 31.245431,
            lng: 121.478666
					},
          sCompany: {
          	name: '上海全安保安服务有限公司',
            contactName: '汪天星',
            contactPhone: '13912345678'
          },
          pmCompany: {
          	name: '上海爱铎安物联网科技有限公司',
            contactName: '李化生',
            contactPhone: '13299944888'
          },
          guardStatistics: {
          	day: '12',
            night: '8',
            enrolled: '6'
          },
          guards: [
            {
            	name: '费晓波',
              certificate: '#123456789098876',
              id: '987872332',
              time: '8:43AM',
              avatarImage: 'certif-small-1.jpg',
              idImage: 'certif-1.jpg',
              address: 'Address1',
              phone: 'Phone1'
            },
            {
            	name: '何强',
              certificate: '#938765436488777',
              id: '123456789',
              time: '7:28AM',
              avatarImage: 'certif-small-2.jpg',
              idImage: 'certif-2.jpg',
              address: 'Address2',
              phone: 'Phone2'
            },
            {
            	name: '胡涛',
              certificate: '#1233666789098876',
              id: '987654321',
              time: '8:41AM',
              avatarImage: 'certif-small-3.jpg',
              idImage: 'certif-3.jpg',
              address: 'Address3',
              phone: 'Phone3'
            },
            {
            	name: '黄先爱',
              certificate: '#938765436488777',
              id: '546932187',
              time: '7:48AM',
              avatarImage: 'certif-small-4.jpg',
              idImage: 'certif-4.jpg',
              address: 'Address4',
              phone: 'Phone4'
            },
            {
              name: '费晓波',
              certificate: '#123456789098876',
              id: '987872332',
              time: '8:43AM',
              avatarImage: 'certif-small-1.jpg',
              idImage: 'certif-1.jpg',
              address: 'Address1',
              phone: 'Phone1'
            },
            {
              name: '黄先爱',
              certificate: '#938765436488777',
              id: '546932187',
              time: '7:48AM',
              avatarImage: 'certif-small-4.jpg',
              idImage: 'certif-4.jpg',
              address: 'Address4',
              phone: 'Phone4'
            },
            {
              name: '黄先强',
              certificate: '#4232686789098876',
              id: '632589714',
              time: '8:54AM',
              avatarImage: 'certif-small-5.jpg',
              idImage: 'certif-5.jpg',
              address: 'Address5',
              phone: 'Phone5'
            },
            {
              name: '胡涛',
              certificate: '#1233666789098876',
              id: '987654321',
              time: '8:41AM',
              avatarImage: 'certif-small-3.jpg',
              idImage: 'certif-3.jpg',
              address: 'Address3',
              phone: 'Phone3'
            },
            {
              name: '苗介德',
              certificate: '#938765436488777',
              id: '469853127',
              time: '9:38AM',
              avatarImage: 'certif-small-6.jpg',
              idImage: 'certif-6.jpg',
              address: 'Address6',
              phone: 'Phone6'
            },
            {
              name: '费晓波',
              certificate: '#123456789098876',
              id: '987872332',
              time: '8:43AM',
              avatarImage: 'certif-small-1.jpg',
              idImage: 'certif-1.jpg',
              address: 'Address1',
              phone: 'Phone1'
            },
            {
              name: '黄先爱',
              certificate: '#938765436488777',
              id: '546932187',
              time: '7:48AM',
              avatarImage: 'certif-small-4.jpg',
              idImage: 'certif-4.jpg',
              address: 'Address4',
              phone: 'Phone4'
            },
            {
              name: '黄先强',
              certificate: '#4232686789098876',
              id: '632589714',
              time: '8:54AM',
              avatarImage: 'certif-small-5.jpg',
              idImage: 'certif-5.jpg',
              address: 'Address5',
              phone: 'Phone5'
            },
            {
              name: '胡涛',
              certificate: '#1233666789098876',
              id: '987654321',
              time: '8:41AM',
              avatarImage: 'certif-small-3.jpg',
              idImage: 'certif-3.jpg',
              address: 'Address3',
              phone: 'Phone3'
            },
            {
              name: '苗介德',
              certificate: '#938765436488777',
              id: '469853127',
              time: '9:38AM',
              avatarImage: 'certif-small-6.jpg',
              idImage: 'certif-6.jpg',
              address: 'Address6',
              phone: 'Phone6'
            },
            {
            	name: '黄先强',
              certificate: '#4232686789098876',
              id: '632589714',
              time: '8:54AM',
              avatarImage: 'certif-small-5.jpg',
              idImage: 'certif-5.jpg',
              address: 'Address5',
              phone: 'Phone5'
            },
            {
            	name: '苗介德',
              certificate: '#938765436488777',
              id: '469853127',
              time: '9:38AM',
              avatarImage: 'certif-small-6.jpg',
              idImage: 'certif-6.jpg',
              address: 'Address6',
              phone: 'Phone6'
            }
          ],
          incidents: [
            {
            	id: '23',
              name: 'Alarm Door 4F – 03',
              time: '2018.02.12 6:43AM'
            },
            {
            	id: '22',
              name: 'Tracker #0101 Removed',
              time: '2018.02.01 4:33PM'
            },
            {
            	id: '21',
              name: 'Fire Alarm 2F-04',
              time: '2018.01.15 2:00PM'
            },
          ]
				},
				Location2: {
          address: '上海闵行区，浦星公路568弄168号',
          location: {
            lat: 31.240049,
            lng: 121.440880
					},
          sCompany: {
          	name: '上海全安保安服务有限公司',
            contactName: '辛大伟',
            contactPhone: '13932145876'
          },
          pmCompany: {
          	name: '阿里巴巴集团',
            contactName: '马云',
            contactPhone: '13154673213'
          },
					guardStatistics: {
          	day: '15',
            night: '10',
            enrolled: '7'
          },
					guards: [
						{
							name: '何强',
							certificate: '#938765436488777',
							id: '123456789',
							time: '7:28AM',
							avatarImage: 'certif-small-2.jpg',
							idImage: 'certif-2.jpg',
							address: 'Address2',
							phone: 'Phone2'
						},
						{
							name: '费晓波',
							certificate: '#123456789098876',
							id: '987872332',
							time: '8:43AM',
							avatarImage: 'certif-small-1.jpg',
							idImage: 'certif-1.jpg',
							address: 'Address1',
							phone: 'Phone1'
						},
						{
							name: '黄先爱',
							certificate: '#938765436488777',
							id: '546932187',
							time: '7:48AM',
							avatarImage: 'certif-small-4.jpg',
							idImage: 'certif-4.jpg',
							address: 'Address4',
							phone: 'Phone4'
						},
						{
							name: '胡涛',
							certificate: '#1233666789098876',
							id: '987654321',
							time: '8:41AM',
							avatarImage: 'certif-small-3.jpg',
							idImage: 'certif-3.jpg',
							address: 'Address3',
							phone: 'Phone3'
						},
						{
							name: '苗介德',
							certificate: '#938765436488777',
							id: '469853127',
							time: '9:38AM',
							avatarImage: 'certif-small-6.jpg',
							idImage: 'certif-6.jpg',
							address: 'Address6',
							phone: 'Phone6'
						},
						{
							name: '黄先强',
							certificate: '#4232686789098876',
							id: '632589714',
							time: '8:54AM',
							avatarImage: 'certif-small-5.jpg',
							idImage: 'certif-5.jpg',
							address: 'Address5',
							phone: 'Phone5'
						},
					],
					incidents: [
						{
							id: '123',
							name: 'Alarm Door2 4F – 03',
							time: '2018.05.14 8:03AM'
						},
						{
							id: '122',
							name: 'Tracker2 #0202 Removed',
							time: '2018.05.01 9:16PM'
						},
						{
							id: '121',
							name: 'Fire Alarm2 2F-04',
							time: '2018.03.11 4:00PM'
						},
					]
				},
				Location3: {
          address: '上海市虹口区杨树浦路248号',
          location: {
						lat: 31.202728,
            lng: 121.421200
					},
          sCompany: {
          	name: '上海全安保安服务有限公司',
            contactName: '徐进军',
            contactPhone: '13456789012'
          },
          pmCompany: {
          	name: '腾讯控股有限公司',
            contactName: '马化腾',
            contactPhone: '13917465741'
          },
					guardStatistics: {
          	day: '14',
            night: '10',
            enrolled: '7'
          },
					guards: [
						{
							name: '黄先强',
							certificate: '#4232686789098876',
							id: '632589714',
							time: '8:54AM',
							avatarImage: 'certif-small-5.jpg',
							idImage: 'certif-5.jpg',
							address: 'Address5',
							phone: 'Phone5'
						},
						{
							name: '费晓波',
							certificate: '#123456789098876',
							id: '987872332',
							time: '8:43AM',
							avatarImage: 'certif-small-1.jpg',
							idImage: 'certif-1.jpg',
							address: 'Address1',
							phone: 'Phone1'
						},
						{
							name: '黄先爱',
							certificate: '#938765436488777',
							id: '546932187',
							time: '7:48AM',
							avatarImage: 'certif-small-4.jpg',
							idImage: 'certif-4.jpg',
							address: 'Address4',
							phone: 'Phone4'
						},
						{
							name: '黄先强',
							certificate: '#4232686789098876',
							id: '632589714',
							time: '8:54AM',
							avatarImage: 'certif-small-5.jpg',
							idImage: 'certif-5.jpg',
							address: 'Address5',
							phone: 'Phone5'
						},
						{
							name: '胡涛',
							certificate: '#1233666789098876',
							id: '987654321',
							time: '8:41AM',
							avatarImage: 'certif-small-3.jpg',
							idImage: 'certif-3.jpg',
							address: 'Address3',
							phone: 'Phone3'
						},
						{
							name: '苗介德',
							certificate: '#938765436488777',
							id: '469853127',
							time: '9:38AM',
							avatarImage: 'certif-small-6.jpg',
							idImage: 'certif-6.jpg',
							address: 'Address6',
							phone: 'Phone6'
						},
						{
							name: '何强',
							certificate: '#938765436488777',
							id: '123456789',
							time: '7:28AM',
							avatarImage: 'certif-small-2.jpg',
							idImage: 'certif-2.jpg',
							address: 'Address2',
							phone: 'Phone2'
						},
					],
					incidents: [
						{
							id: '87',
							name: 'Tracker2 #0202 Removed',
							time: '2018.05.01 9:16PM'
						},
						{
							id: '86',
							name: 'Fire Alarm2 2F-04',
							time: '2018.03.11 4:00PM'
						},
						{
							id: '85',
							name: 'Alarm Door2 4F – 03',
							time: '2018.05.14 8:03AM'
						}
					]
				}
      },
      guardsHeight:'',
      guard: '',
      mobile: ''
    }
  },
  mounted() {
		window.addEventListener('resize', this.handleResize)
		this.handleResize();
    this.city = this.$route.params.city;
    this.currentDistrict = this.$route.params.district;
    this.currentCompany = this.$route.params.company;
    this.currentLocation = this.$route.params.location;
    if (this.locations[this.currentCompany] && this.currentLocation) {
      for (let i=0; i<this.locations[this.currentCompany].length; i++) {
        if (this.locations[this.currentCompany][i].value === this.currentLocation) {
          this.facilityName = this.locations[this.currentCompany][i].name;
          break;
        }
      }
    }
  },
	destroyed() {
		window.removeEventListener('resize', this.handleResize)
	},
  updated: function () {
    this.$nextTick(function () {
      if (this.currentDistrict && this.currentCompany && !this.mobile) {
        this.cityWidth = this.$refs.districts.clientWidth+this.$refs.companies.clientWidth+20+'px';
      }
      if (this.companies[this.currentDistrict] && !this.mobile) {
        this.companyWidth = this.$refs.districts.clientWidth + 'px';
      }
      if (this.facilities[this.currentLocation]) {
        this.guardsHeight = this.$refs.location.clientHeight-this.$refs.incidents.clientHeight-this.$refs.guardCheckin.clientHeight+448 + 'px';
      }
    })
  },
  watch: {
    $route(to, from) {
      this.city = this.$route.params.city;
      this.currentDistrict = this.$route.params.district;
      this.currentCompany = this.$route.params.company;
      this.currentLocation = this.$route.params.location;
    }
  },
  methods: {
		handleResize() {
			this.mobile = window.innerWidth < 1024;
			if (this.mobile) {
				this.cityWidth = '30px';
      }
    },
    districtChange(district) {
      this.currentDistrict = district;
      this.$router.push({name: 'dashboard', params: {city: this.city, district: this.currentDistrict} })
    },
    companyChange(company) {
      this.currentCompany = company;
      this.$router.push({name: 'dashboard', params: {city: this.city, district: this.currentDistrict, company: this.currentCompany} })
    },
    locationChange(location, name) {
      this.currentLocation = location;
      this.facilityName = this.mobile ? name.target.options[name.target.options.selectedIndex].dataset.name : name;
      this.$router.push({name: 'dashboard', params: {city: this.city, district: this.currentDistrict, company: this.currentCompany, location: this.currentLocation} })
    },
    handler ({BMap, map}) {
      this.center.lng = 121.478666;
      this.center.lat = 31.245431;
      this.zoom = 15
    },
    showGuardInformationModal(index) {
    	this.guard = index;
      this.$refs.guardInformationModal.show()
    }
  }
}
</script>

<style scoped>
  #company, #location {
    float: left;
  }
  #city > .btn,
  #mobCity > .btn{
    position: relative;
    height: 100%;
    background-color: #f7f7f7 !important;
    color: #3f6887;
    text-transform: uppercase;
    font-size: 23px;
    transition: all 0.25s ease-out;
    font-weight: 700;
    opacity:1;
    border: 1px solid #3f6887;
    border-radius: 5px;
  }
  #city,
  .district,
  .company,
  .location {
    position: relative;
  }
  #district .active,
  #company .active,
  #location .active {
    background-color: #3f6887;
    border:1px solid #fff;
  }
  .dot{
    position: absolute;
    background: red;
    right: 7px;
    top: 3px;
  }
  .card-header,
  .card-body,
  .card-footer{
    background-color: #f7f7f7;
    border: 1px solid #3f6887;
    color: #3f6887;
    display: grid;
  }
  .card-header{
    height: 77px;
  }
  .card-header:first-child,
  .card-footer:last-child{
    border-radius: 0;
  }
  .card-body{
    border: 1px solid #3f6887;
  }
  .districtBtn, .companyBtn, .locationBtn {
    border: 1px solid #f1f2f7;
  }
  .companyBtn, .locationBtn {
    width: auto;
    min-width: 100%;
  }
  .districtBtn {
    min-width: 120px;
  }
  #mainData {
    max-width: 450px;
  }
  .guardData {
    min-width: calc(100% - 450px);
  }
  .guard-list{
    overflow: auto;
  }
  #mainData .form-group label,
  #mainData .form-group p,
  #mainDataMob .form-group label,
  #mainDataMob .form-group p{
    font-size: 13px;
    color: #3f6887;
  }
  .guardData .form-group label,
  .guardData .form-group p {
    font-size: 15px;
    color: #3f6887;
  }
  .form-group{
    padding: 0.5rem 0;
    margin: 0;
  }
  .guard-img{
    width: 50px;
    height:50px;
  }
  .card {
    border-radius: 0;
    border: none;
  }
  .mapSec{
    height:450px;
    border:1px solid #3f6887;
    position: relative;
  }
  .showModal{
    cursor: pointer;
  }
  .showModal:hover {
    -webkit-box-shadow: 0 5px 6px 0 rgba(17,17,17,.5);
    box-shadow: 0 5px 6px 0 rgba(17,17,17,.5);
  }
  .modalDiv .col {
    padding-left: 0;
    padding-right: 0;
  }
  .mobile select {
    margin: 0 auto;
  }
  @media screen and (max-width: 1200px) {
    .card-body {
      padding: 1.25rem 0.25rem !important;
    }
    .card-body .col {
      padding-right: 0;
    }
    .guardData .form-group label,
    .guardData .form-group p {
      font-size: 12px;
    }
    .incidient {
      font-size: 12px;
      text-align: left;
    }
    .incidient span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-footer {
      padding: .75rem .25rem;
    }
  }
  @media screen and (max-width: 767px) {
    .guardData, #mainData {
      min-width: 100%;
      max-width: 100%;
    }
    .modalDiv label, .modalDiv p {
      font-size: 12px;
    }
  }
</style>
