<template>
  <div class="footer"></div>
</template>

<script>

/* eslint-disable */
export default {
	data() {
		return {
    }
  },
  mounted() {
  }
}
</script>

<style scoped>
  .footer {

  }
</style>
