<template>
  <div class="myApp">
    <NavBar></NavBar>
    <div id="content">
      <router-view></router-view>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
	/* eslint-disable */

import NavBar from './../components/NavBar.vue'
import Footer from './../components/Footer.vue'
export default {
	components: {
		NavBar,
    Footer
	}
}
</script>

<style scoped>
  .myApp {
    font-family: Montserrat-black;
    min-height: 100vh;
  }
  #content {
    max-width: 1920px;
    margin: 0 auto;
  }
</style>
