<template>
  <div class="login content pb-0">
    <div class="row d-flex align-items-center">
      <div class="col-md-4 offset-md-4 mr-auto ml-auto">
        <section class="card">
          <div class="card-header">
            <strong class="card-title mb-3">Welcome !</strong>
          </div>
          <div class="card-body text-secondary">
            <div class="card-body card-block">
              <form method="post" name="login">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                  </div>
                </div>
                <div class="form-actions form-group">
                  <router-link :to="{name: 'dashboard', params: {city: 'Shanghai', district: 'Huangpu', company: 'CompanyB2', location: 'Location1'} }" type="submit" class="btn btn-success btn-md">Log In</router-link>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>

<style scoped>
  .login>div {
    min-height: 100vh;
  }
  .card-title{
    padding-left: 20px;
  }
</style>