<!--eslint-disable-->
<template>
  <div id="nav-bar">
    <header class="header">
      <div class="header-menu">
        <div class="row">
          <div class="col-7 col-sm-7 user-area">
            <!--<div class="header-left" :class="{'open': isSearch, '': !isSearch }">-->
            <a href="#">
              <img alt="" src="./../assets/images/logo.png" class="align-self-center mr-3">
            </a>
            <div class="d-block d-md-inline-block d-lg-inline-block form-group ">
              <div class="input-group">
                <input class="form-control" placeholder="Search" style="max-width:160px;">
                <div class="input-group-addon d-flex my-auto"><font-awesome-icon icon="search"/></div>
              </div>
            </div>
            <!--</div>-->
          </div>

          <div class="col-5 col-sm-5 user-area text-right">
            <div class="d-block d-md-none d-lg-none">
              <a class="mx-2">Matho LI</a>
              <div class="input-group-addon">
                <router-link :to="{name: 'login'}" class="logout">
                  <font-awesome-icon icon="sign-out-alt" class="my-auto"/>
                </router-link>
              </div>
            </div>
            <div class="form-group">
              <select v-model="currentCity" @change="cityChange" class="form-control d-inline-block d-md-inline-block d-lg-block">
                <!--<option v-for="city in cities" :value="city.value">{{city.name}} - {{city.guard}}</option>-->
                <option v-for="city in cities" :value="city.value">{{city.name}}</option>
              </select>
            </div>
            <div class="d-none d-md-inline-block d-lg-inline-block ml-3">
              <a class="mx-2">Matho LI</a>
              <div class="input-group-addon">
                <router-link :to="{name: 'login'}" class="logout">
                  <font-awesome-icon icon="sign-out-alt" class="my-auto"/>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>

/* eslint-disable */
export default {
	data (){
		return{
			isActive: false,
			isSearch: false,
			currentCity: 'Shanghai',
			cities: [
				{ name: '上海市', value: 'Shanghai', guard: 320 },
//				{ name: '重庆市', value: 'Chongqing', guard: 1000 },
//				{ name: 'Example', value: 'City86', guard: 2391 }
			],
		}
	},
	methods: {
		cityChange() {
			this.$router.push({name: 'dashboard', params: {city: this.currentCity} })
		}

	}
}
</script>

<style scoped>
  header .form-inline .search-form button{
    cursor: pointer;
  }
  #nav-bar{
    background: #fff;
    border-bottom: 1px solid rgba(43, 88, 122, 0.8);
    box-shadow: none;
    clear: both;
    display: inline-block;
    width: 100%;
  }
  .align-self-center{
      height: 50px;
  }
  .user-area{
    line-height: 5;
    height: 80px;
    margin: auto;
  }
  .logout {
    color: inherit;
    transition: .5s;
  }
  .logout:hover {
    color: red;
  }
  .user-area .form-group{
    display: inline-block;
  }
  .input-group-addon{
    padding: 0 10px;
    display: contents;
    cursor: pointer;
  }
  .form-control{
      border-radius: 0 !important;
  }

  @media (max-width: 768px) {
    .user-area{
      line-height: 3;
      height: auto;
    }
  }
</style>
