<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style>
  #app {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
</style>
